<div class="wrapper">
    <aside id="sidebar" class="js-sidebar" [ngClass]="{'collapsed': isCollapsed}">
        <!-- Content For Sidebar -->
        <div class="h-100">
            <div class="sidebar-logo">
                <img src="assets/logo.png" style="width:50px;height:50px">
                <a routerLink="/dashboard" class="text-white">PawX</a>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Admin Features
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/dashboard">
                        <i class='bx bxs-dashboard icon'></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/users">
                        <i class='bx bxs-user icon'></i>
                        Manage Users
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                        aria-expanded="false">
                        <i class='bx bxs-file-find icon'></i>
                        Adoption Request
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link sm-margin-link" routerLink="/adoption_request">
                                <i class='bx bxs-receipt icon'></i>
                                Request
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link sm-margin-link" routerLink="/adoption_history">
                                <i class='bx bx-history icon'></i>
                                Adoption History
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/adminPost">
                        <i class='bx bx-upload icon'></i>
                        Manage Posts
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom top-0 shadow p-3">
            <button class="btn" id="sidebar-toggle" type="button" (click)="toggleSidebar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                            <img src="assets/admin.jpg" class="avatar img-fluid rounded" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item" (click)="logout()">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="container">
            <h2>Adoption History</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Application ID</th>
                  <th>Adopter Email</th>
                  <th>Pet Name</th>
                  <th>Pet Type</th>
                  <th>Adoption Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of adoptionHistory">
                  <td>{{ record.id }}</td>
                  <td>{{ record.applicationId }}</td>
                  <td>{{ record.adopterEmail }}</td>
                  <td>{{ record.petName }}</td>
                  <td>{{ record.petType }}</td>
                  <td>{{ record.adoptionDate | date:'yyyy-MM-dd HH:mm' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        
    </div>

</div>