<div class="registration-form-container">
    <h2>Adopt Pet </h2>
    <!-- <h2>Adopt Pet (ID: {{ petId }})</h2> -->
    <form [formGroup]="adoptionForm" (ngSubmit)="onSubmit()">
        <label>Name:</label>
        <input type="text" formControlName="name" placeholder="Enter your name" required />
        <div *ngIf="adoptionForm.get('name')?.invalid && adoptionForm.get('name')?.touched">
            <span class="error">Name is required.</span>
        </div>

        <label>Email:</label>
        <input type="email" formControlName="email" placeholder="Enter your email" required />
        <div *ngIf="adoptionForm.get('email')?.invalid && adoptionForm.get('email')?.touched">
            <span class="error">Valid email is required.</span>
        </div>

        <label>Phone:</label>
        <input type="tel" formControlName="phone" placeholder="Enter your phone number" required />
        <div *ngIf="adoptionForm.get('phone')?.invalid && adoptionForm.get('phone')?.touched">
            <span class="error">Phone number must be 10 digits.</span>
        </div>

        <label>Reason for Adoption:</label>
        <textarea formControlName="reason" placeholder="Why do you want to adopt?" required></textarea>
        <div *ngIf="adoptionForm.get('reason')?.invalid && adoptionForm.get('reason')?.touched">
            <span class="error">Reason is required.</span>
        </div>

        <button type="submit" [disabled]="adoptionForm.invalid">Submit</button>
    </form>
</div>
<div>
    <button (click)="goHome()">Go back to Adoption Page</button>
</div>