
  .profile{

    .navbar-brand {
      font-size: 18px;
      font-weight: bold;
    }
    .fixed-img{
      width: 100%;height: 300px; object-fit: contain;
    }
    .btn {
      min-width: 80px;
    }
  }
  